<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Search</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

</head>

<body>

  <%- include('../common_scripts/zoom')%>
  <%- include('../common_scripts/analytics')%>
    <%- include('../common_scripts/chatbot')%>

      <!-- ======= Header ======= -->
      <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
          <a href="/Dashboard" class="logo d-flex align-items-center">
            <img src="assets/img/seekho.png" alt="">
            <!-- <span class="d-block">Yukti</span> -->
          </a>
          <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->



        <nav class="header-nav ms-auto">
          <ul class="d-flex align-items-center">

            <li class="nav-item dropdown">

              <a class="nav-link nav-icon" style="cursor:pointer" onclick="zoom()">
                A+
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link nav-icon" style="cursor:pointer" onclick="zoomout()">
                A-
              </a>
              

            </li><!-- End Notification Nav -->


            <li class="nav-item dropdown">

              <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                <i class="bi bi-bell"></i>
                <span class="badge bg-primary badge-number">
                  <%= notifications.length %>
                </span>
              </a><!-- End Notification Icon -->

              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                <li class="dropdown-header">
                  You have <%=notifications.length%> new notifications
                    <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                </li>
                <% for(var i=0 ;i < notifications.length ; i++) { %>
                  <li>
                    <hr class="dropdown-divider">
                  </li>

                  <li class="notification-item">
                    <i class="bi bi-exclamation-circle text-warning"></i>
                    <a href="/GetFullComplaint?cid=<%=complaints[i].cid%>">
                      <div>
                        <h4>New Message Received</h4>
                        <p>Complaint with id: <%=notifications[i].cid%>
                        </p>
                        <p>has new messages.</p>
                      </div>
                    </a>
                  </li>
                  <% } %>

              </ul><!-- End Notification Dropdown Items -->

            </li><!-- End Notification Nav -->

            <li class="nav-item dropdown pe-3">

              <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                <span class="d-none d-md-block dropdown-toggle ps-2">
                  <%=userData.name%>
                </span>
              </a><!-- End Profile Iamge Icon -->

              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                <li class="dropdown-header">
                  <h6>
                    <%=userData.name%>
                  </h6>

                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="">
                    <i class="bi bi-person"></i>
                    <span>My Profile</span>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <hr class="dropdown-divider">
                </li>

                <li>
                  <a class="dropdown-item d-flex align-items-center" href="/Logout">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Sign Out</span>
                  </a>
                </li>

              </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

          </ul>
        </nav><!-- End Icons Navigation -->

      </header><!-- End Header -->

      <!-- ======= Sidebar ======= -->
      <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

          <li class="nav-item">
            <a class="nav-link collapsed" href="/Dashboard">
              <i class="bi bi-grid"></i>
              <span>Dashboard</span>
            </a>
          </li><!-- End Dashboard Nav -->

          <li class="nav-item">
            <a class="nav-link" href="/Search">
              <i class="bi bi-search"></i>
              <span>Search</span>
            </a>
          </li><!-- End Login Page Nav -->

          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-menu-button-wide"></i><span>Content Studio</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse show " data-bs-parent="#sidebar-nav">
              <li>
                <a href="/ContentGPT">
                  <i class="bi bi-circle"></i><span>Content GPT</span>
                </a>
              </li>
              <li>
                <a href="/TextToSpeech">
                  <i class="bi bi-circle"></i><span>Text to Speech</span>
                </a>
              </li>
              <li>
                <a href="/VideoGeneration">
                  <i class="bi bi-circle"></i><span>Video Generation</span>
                </a>
              </li>
              <li>
                <a href="/VideoTranslation">
                  <i class="bi bi-circle"></i><span>Video Translation</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
              <i class="bi bi-menu-button-wide"></i><span>My Account</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse show " data-bs-parent="#sidebar-nav">
              <li>
                <a href="/ViewProfile">
                  <i class="bi bi-circle"></i><span>View Profile</span>
                </a>
              </li>

            </ul>
          <li class="nav-item">
            <a class="nav-link collapsed" href="#">
              <i class="bi bi-translate"></i>
              <%- include('../common_scripts/translate')%>
                <button class="btn btn-primary btn-sm" onclick="clearCookie()">original</button>
                <script>
                  function clearCookie() {
                    document.cookie = "googtrans=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                    location.reload();
                  }
                </script>
            </a>
          </li>


          </li><!-- End Components Nav -->
        </ul>

      </aside><!-- End Sidebar-->


      <main id="main" class="main">

        <section class="section dashboard">
          <div class="container">
            <br/>
          <div class="row justify-content-center">
                                <div class="col-12 col-md-10 col-lg-8">
                                    <form action="/submitQuery" method="POST" class="card card-sm">
                                        <div class="card-body row no-gutters align-items-center">
                                            <div class="col">
                                                <input name ="searchquery" class="form-control form-control form-control-borderless" type="search" placeholder="Search topics or keywords">
                                            </div>
                                            <!--end of col-->
                                            <div class="col-auto">
                                                <button class="btn btn btn-primary" type="submit">Search</button>
                                            </div>
                                            <!--end of col-->
                                        </div>
                                    </form>
                                </div>
                                <!--end of col-->
                            </div>
        </div>

          <!-- Code added for search code-->
          <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-12">
                        <%for(var i=0;i < course.length;i++){%>
                        <form action="/SelectCourse" method="POST" enctype="json">
                        <input type="text" hidden value="<%=course[i].id%>" name="course_id">
                        <div class="card recent-sales overflow-auto">
                          <!-- <h5 class="card-title">Search Result <%=i+1%></h5> -->
                            <div class="card-body-even">
                                <div class="card-body-img">
                                    <img src="<%=course[i].thumbnail%>" alt="dummy" width="250px" height="250px">
                                </div>
                                <div style="height: 100%; width: 10%"></div>
                                <div class="course-details">
                                    <h3><%=course[i].name%></h3>
                                    <p>
                                     <%=course[i].description%>
                                    </p>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                    <div class="row mb-3">
                                      <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">View</a></button>
                                      </div>
                                  </div>
                                </div>
            
                            </div>
                        </div>
                      </form>
                        <%}%>
                    </div>
                </div>
            </div>
          </div>
        </section>

      </main><!-- End #main -->

      <!-- ======= Footer ======= -->
      <footer id="footer" class="footer">
        <div class="copyright">
          &copy; Copyright <strong><span>Yukti</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

          Designed by <a href="#">Seekho</a>
        </div>
      </footer><!-- End Footer -->

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>

      <!-- Vendor JS Files -->
      <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/chart.js/chart.min.js"></script>
      <script src="assets/vendor/echarts/echarts.min.js"></script>
      <script src="assets/vendor/quill/quill.min.js"></script>
      <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
      <script src="assets/vendor/tinymce/tinymce.min.js"></script>
      <script src="assets/vendor/php-email-form/validate.js"></script>

      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>

</body>

</html>