<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets1/css/style.css" rel="stylesheet">
</head>

<body>
  <%- include('common_scripts/analytics')%>

  <%- include('common_scripts/chatbot')%>

  
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <img src="assets/img/seekho.png" alt="">
        <!-- <span class="d-block">Yukti</span> -->
      </a>
      
      <nav id="navbar" class="navbar">
        <ul>
          <!-- <li><a class="nav-link scrollto active" href="viewstatus.html">View Status</a></li>
          <li class="dropdown"><a href="#"><span>Nodal PG Officer</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Central Government</a></li>
              <li><a href="#">State Government</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">Redress Process</a></li>
          <li class="dropdown"><a href="#"><span>Grievence</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Lodge Public Grievance</a></li>
              <li><a href="#">Lodge Pension Grievance</a></li>
              <li><a href="#">View Status</a></li>
              <li><a href="#">Reminder Clarification</a></li>
              <li><a href="#">Lodge Pension Grievance</a></li>
            </ul>
          </li> -->
          <!-- <li><a class="nav-link scrollto" href="#">Nodal Authority for Appeal</a></li> -->



          <%- include('common_scripts/analytics')%>
      <%- include('common_scripts/translate')%>
      <%- include('common_scripts/chatbot')%>

          <li><a class="nav-link scrollto" href="/#aboutus">About Us</a></li>
          <li><a class="nav-link scrollto" href="/#services">Services</a></li>
          <li><a class="nav-link scrollto" href="/Signup">Signup</a></li>
          <li><a class="nav-link scrollto" href="/Login">Login</a></li>
          <li><a class="nav-link scrollto" style="cursor:pointer" onclick="zoom()">A+</a></li>
          <li><a class="nav-link scrollto" style="cursor:pointer" onclick="zoomout()">A-</a></li>
          <li style="margin-left: 50px;"><%- include('common_scripts/translate')%></li>
          <script>
            zoomset()
            function zoomset() {
              console.log(1)
              if(localStorage.getItem("zoom"))
              {
                console.log(parseInt(localStorage.getItem("zoom")))
                document.body.style.zoom = localStorage.getItem("zoom")+"%";
              }
            }
            function zoom() {
              var zoom=100;
              if(localStorage.getItem("zoom"))
              {
                zoom=parseInt(localStorage.getItem("zoom"))+10;
                console.log(zoom)
                document.body.style.zoom = zoom+"%"
                localStorage.setItem("zoom",zoom)
              }
              else
              {
                document.body.style.zoom = "110%"
                localStorage.setItem("zoom",110)
              }
              
            } 
            function zoomout() {
              var zoom=100;
              if(localStorage.getItem("zoom"))
              {
                zoom=parseInt(localStorage.getItem("zoom"))-10;
                console.log(zoom)
                document.body.style.zoom = zoom+"%"
                localStorage.setItem("zoom",zoom)
              }
              else
              {
                document.body.style.zoom = "90%"
                localStorage.setItem("zoom",90)
              }
              
            } 
         </script>
         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer modern education through our famous beckn protocol.</h1>
          <!-- <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented designers making websites with Bootstrap</h2> -->
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="/Signup" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Signup</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="assets/img/seekho.png" class="img-fluid w-100" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  <main id="main">
    <!-- ======= About Section ======= -->
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Services</h2> -->
          <p>Services</p>
        </header>

        <div class="row gy-4">
          
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <a href="/Login" class="read-more">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3>Register/Login</h3>
              <span>Read More</span> <i class="bi bi-arrow-right"></i>
            </div>
          </a>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <a href="#" class="read-more">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>View Status</h3>
              <span>Read More</span> <i class="bi bi-arrow-right"></i>
            </div>
          </a>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <a href="#contactus" class="read-more">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3>Contact Us</h3>
              <span>Read More</span> <i class="bi bi-arrow-right"></i>
            </div>
          </a>
          </div>


        </div>

      </div>

    </section><!-- End Services Section -->

   

    <!-- ======= F.A.Q Section ======= -->
    <!-- <section id="faq" class="faq">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>F.A.Q</h2> -->
          <!-- <p>Frequently Asked Questions</p>
        </header>

        <div class="row">
          <div class="col-lg-6"> -->
            <!-- F.A.Q List 1-->
            <!-- <div class="accordion accordion-flush" id="faqlist1">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    How to Signup ?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Goto the top-right corner of page and click on <a href="/Signup">Signup</a>. Fill all the requrired information and regsister yourself to the portal.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    How can I add new complaint?
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Once you <a href="/Signup">Signup</a> yourself to the portal. <a href="/Login">Login</a> to the portal. The option of lodge Complain will be visible click on it and fill all the required information and submit the complaint.
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-3">
                    Who will solve my complaint ?
                  </button>
                </h2>
                <div id="faq-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Your complaint will be solved by the Ministry of Labour (officers). At desk one your complaint will get verified and send to the Desk 2. Desk 2 will take the required action to ypur complaint.
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="col-lg-6"> -->

            <!-- F.A.Q List 2-->
            <!-- <div class="accordion accordion-flush" id="faqlist2">

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-1">
                    What is the time limit for redress of grievance?
                  </button>
                </h2>
                <div id="faq2-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    Forty-five (45) days. In case of delay an interim reply with reasons for delay is required to be given.                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-2">
                    What happens when I lodge the grievance?
                  </button>
                </h2>
                <div id="faq2-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    The grievance is acknowledged online or by post. A unique registration number is given to each grievance.                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq2-content-3">
                    Where should I contact if I want to ask any doubts?
                 </button>
                </h2>
                <div id="faq2-content-3" class="accordion-collapse collapse" data-bs-parent="#faqlist2">
                  <div class="accordion-body">
                    You can ask your doubts through the Chatbot or call the helpline number +91 93597 17399


                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>

    </section>End F.A.Q Section --> -->


   

    <!-- ======= Team Section ======= -->
    <!-- <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Team</h2>
          <p>Our hard working team</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="assets1/img/team/team-1.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Walter White</h4>
                <span>Chief Executive Officer</span>
                <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et voluptate.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="assets1/img/team/team-2.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Sarah Jhonson</h4>
                <span>Product Manager</span>
                <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis. Voluptate sed quas reiciendis animi neque sapiente.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="assets1/img/team/team-3.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>William Anderson</h4>
                <span>CTO</span>
                <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut architecto porro aspernatur molestiae modi.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="assets1/img/team/team-4.jpg" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <p>Rerum voluptate non adipisci animi distinctio et deserunt amet voluptas. Quia aut aliquid doloremque ut possimus ipsum officia.</p>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section>End Team Section -->

   

    <!-- ======= Contact Section ======= -->
    <section id="contactus" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <!-- <h2>Contact</h2> -->
          <p>Contact Us</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-12">

            <div class="row gy-4">
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>
                    Team Seekho,
                    <br>
                    Rose Villa, near Bharat Mata Chowk,
                    <br>
                    Bhosari
                    <br>
                    Pune, Maharashtra</p>
                  <!-- <p>MIT Academy of Engineering<br>Alandi, Pune<br>India, 412105</p> -->
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+91 7038146259</p><br><br><br>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>Teamseeko@help.com</p><br><br><br>
                </div>
              </div>
              <div class="col-md-3">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 06:00PM</p><br><br>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="assets/img/seekho.png" alt="">
              <!-- <span>Yukti</span> -->
            </a>
            <p>We are here to provide an IT embeded portal in place for handling the education services.</p>
            <!-- <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div> -->
          </div>
          <div class="col-lg-2 col-6 footer-links"></div>	
          <div class="col-lg-2 col-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#aboutus">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#services">Services</a></li>
              <!-- <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li> -->
              <li><i class="bi bi-chevron-right"></i> <a href="https://sihchatbot.tawk.help/category/faq">FAQ's</a></li>
            </ul>
          </div>

          <!-- <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div> -->

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              Ministry of Labour & Employment
              Govt. of India<br>
              Shram Shakti Bhawan
              Rafi Marg.<br>
              New Delhi-110001
              India</p>
              <!-- MIT Academy of Engineering <br>
              Alandi, Pune<br>
              India, 412105<br><br> -->
              <strong>Phone:</strong> +91 93597 17399<br>
              <strong>Email:</strong> labourministry@gov.in
            </p>

          </div>

        </div>
      </div>
    </div>

  
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>



  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.min.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
</body>

</html>